{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="id_performer">Performer</label>
            <input value="{{track[1]}}" type="text" class="form-control" id="id_performer" name="performer">
        </div>
        <div class="form-group">
            <label for="track">Track</label>
            <input value="{{track[2]}}" type="text" class="form-control" id="track" name="track">
            <label for="duration">Duration</label>
            <input value="{{track[3]}}" type="text" class="form-control" id="duration" name="duration">
            <h6>{{duration_error}}</h6>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>
{% endblock %}
